fastapi==0.115.0
uvicorn[standard]==0.30.3

SQLAlchemy==2.0.31
asyncpg==0.29.0

python-dotenv==1.0.1

psycopg2-binary==2.9.9

google-cloud-storage==2.16.0

google-api-python-client
google-auth
google-auth-httplib2
google-cloud-logging
passlib[bcrypt]
python-multipart
